html
	font-size:62.5%
.border-1
	border:1px solid #eee
.padding-10
	padding:5px 0
.shop-header-info
	margin:0 auto
	width:80%
.shop-header .imgbox
	width:65px
	height:11px
	margin:0 auto;
	position:relative;
	top:-66px; 
	left:50%
	margin-left:-32.5px
.imgbox img
	width:100%
.shop-header-info p
	padding:8px 0
.shop-header
	text-align:center
	line-height:middle
	padding: 2rem 0
.shop-header
	&h2,p
		margin-top:7px

.shop-header span
		margin-left:10px

.shop-header .info2
	color:#999;

.shop-header-info p .ico
		display:inline-block;
		margin-left:5px
		border-top:5px solid #666
		border-right:5px solid transparent
		border-bottom:5px solid transparent
		border-left:5px solid transparent
		line-height:20px;
		
.info1 .bg
	display:inline-block
	padding:0 5px;
	background:#70BC46
	color:#fff
.nav
	height:64px
	background-image:url('../../static/img/01.jpg')
	background-size:cover
	background-repeat:no-repeat
	background-color:rgba(119,103,137,.43)
	& img
		width:100%
	&:before
		height:64px
		width:100%
		content: ""
		position:absolute
		left: 0
		top:0
		bottom:0
		background-color:rgba(119,103,137,.43)
.ico
	display:inline-block;
	border-left: 5px solid #111
	border-top:3px solid transparent
	border-bottom:3px solid transparent
	border-right:3px solid transparent
.shop-header h2
	font-size:2rem
.info2{
	width:194px;
	margin: 0 auto;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.info1 span
	font-size:1.2rem